@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --overlay-start: rgba(0, 0, 0, 0);
  --overlay-end: rgba(0, 0, 0, 0.99);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.light {
  --background: #ffffff;
  --foreground: #000000;
  --overlay-start: rgba(255, 255, 255, 0);
  --overlay-end: rgba(255, 255, 255, 0.99);
}

@custom-variant light (&:where(.light, .light *));

@layer components {

  .navbar-button {
    @apply flex justify-center items-center rounded-full 
          transition duration-300 bg-[#0000004D] light:bg-[#00000025] 
          border border-[#4D4D4D] light:border-[#929292] hover:bg-[#2020204d];
    @apply w-full;
    @apply h-[clamp(40px,4.7vh,45px)] md:h-[clamp(50px,5.5vh,60px)];
  }

  .vignette-overlay {
    background: radial-gradient(
      ellipse at center,
      var(--overlay-start) 40%,
      var(--overlay-end) 65%,
      var(--overlay-end) 100%
    );
  }

}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 16px;
}

h1 {
  @apply text-2xl md:text-4xl
}

h2 {
  @apply text-base md:text-3xl
}

section {
  @apply w-full px-10 md:px-40
}