@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

@layer components {
  .navbar-button {
    @apply px-10 py-3 rounded-full bg-[#0000004D] border border-[#4D4D4D]
           transition duration-300 hover:bg-[#2020204d]
  }

  .vignette-overlay {
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.99) 65%,
    rgba(0, 0, 0, 0.99) 100%
  );
}
}

body {
  background: var(--background);
  color: var(--foreground);
  font-size: 16px;
}

h1 {
  @apply text-4xl
}

h2 {
  @apply text-3xl
}

section {
  @apply w-full px-60
}